<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="{% static 'CSS/addrecipe.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
      
    <title>Add Recipe</title>
</head>
<body>
    <div class="hea">
        <img class="basla" src="{% static 'Images/Minfa34.jpg' %}" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADMIN </h1>
        <ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="{% url 'adminHome' %}" >Home</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="https://www.facebook.com">Contact Us</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="{% url 'adminFAQ' %}">FAQ</a></li>
        </ul>
    </div>

    <h2 style="text-align: center; color: red;"></h2>
    <form id="addRecipeForm" action="{% url 'addRecipe' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <label for="recipeName"><b>Recipe Name</b></label>
        <input type="text" id="recipeName" name="recipeName" required>
        <br>
        <br>
        <label for="rd1"><b>Recipe Ingredients</b></label>
        <br>
        <textarea name="recipeIngredients" id="recipeIngredients" cols="30" rows="10" required></textarea>
        <br>
        <label for="rd2"><b>Recipe Instructions</b></label>
        <br>
        <textarea name="recipeInstructions" id="recipeInstructions" cols="30" rows="10" required></textarea>
        <br>
        <label for="recipeImageFile"><b>Recipe Image</b></label>
        <br>
        <input type="file" name="recipeImageFile" id="recipeImageFile" required>
        <br>
        <select id = "courses" name = "courses">
            <option value="">Select Course</option>
            <option value = "appetizers">appetizers</option>
            <option value = "main cousre">main cousre</option>
            <option value = "dessert">dessert</option>
        </select>
        <br>
        <br>
        <input type="submit" value="save" id="BUT" style="padding: 5px 20px; margin-left: 500px;">
     
    </form>
    <script type="text/javascript">
        $(document).on('submit', '#addRecipeForm', function(e){
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                type: 'POST',
                url: '/recipe_added',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data){
                    $('h2').html(data);
                }
            });
        });
    </script>
</body>
</html>